modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["zip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0", "resend:1.0.0", "javascript_openai_ai_integrations:2.0.0"]

[userenv]

[userenv.shared]
SHOPIFY_CLIENT_ID = "9e891f161c95eaf450f5c9bd30576253"
SHOPIFY_APP_URL = "https://lala-logistics.replit.app"
APP_ENCRYPTION_KEY = "243e5a9bba9853b5b32cf2ae5828f22de1ec5fe2e6b32c24102f3c94206daa57"
SHOPIFY_APP_REDIRECT_URL = "https://lala-logistics.replit.app/api/shopify/callback"
SHOPIFY_APP_SCOPES = "read_all_orders,read_analytics,read_customers,write_customers,write_draft_orders,read_draft_orders,read_fulfillments,write_fulfillments,read_orders,write_orders,read_products,write_products,read_inventory,read_merchant_managed_fulfillment_orders,write_merchant_managed_fulfillment_orders"
SHOPIFY_APP_CLIENT_ID = "9e891f161c95eaf450f5c9bd30576253"
POSTEX_WEBHOOK_SECRET = "721b67b80a4c4b1ab0d1c59b8b5fdb9a1e3528e381304e02adf2e6126655821a"
SUPER_ADMIN_PASSWORD = "ShipFlow@Admin2026!"
WHATSAPP_VERIFY_TOKEN = "1sol_whatsapp_verify"
LEOPARDS_WEBHOOK_SECRET = "f73748bb48c469af83596770a53aa9a9915eaf78c98f97058aa6a29bed7a2877"
