modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_database:1.0.0", "javascript_log_in_with_replit:2.0.0"]

[userenv]

[userenv.shared]
SHOPIFY_CLIENT_ID = "9e891f161c95eaf450f5c9bd30576253"
SHOPIFY_APP_URL = "https://lala-logistics.replit.app"
APP_ENCRYPTION_KEY = "243e5a9bba9853b5b32cf2ae5828f22de1ec5fe2e6b32c24102f3c94206daa57"
SHOPIFY_APP_REDIRECT_URL = "https://lala-logistics.replit.app/api/shopify/callback"
SHOPIFY_APP_SCOPES = "read_orders,read_fulfillments,write_webhooks"
SHOPIFY_APP_CLIENT_ID = "9e891f161c95eaf450f5c9bd30576253"
